<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__logo">
    <a href="/"><img src="./img/logo.svg" alt=""></a>
  </div>
  <div class="humberger__menu__widget">
    <div class="header__top__right__auth">
      <a href="/login"><i class="fa fa-user"></i> Đăng Nhập</a>
    </div>
  </div>
  <nav class="humberger__menu__nav mobile-menu">
    <ul>
      <li><a href="/">Trang Chủ</a></li>
      <li><a href="/sport">Thể Thao</a></li>
      <li><a href="/travel">Du Lịch</a>
        <ul class="header__menu__dropdown">
          <li><a href="./shop-details.html">Shop Details</a></li>
          <li><a href="./shoping-cart.html">Shoping Cart</a></li>
          <li><a href="./checkout.html">Check Out</a></li>
          <li><a href="./blog-details.html">Blog Details</a></li>
        </ul>
      </li>
      <li><a href="/health">Sức Khoẻ</a></li>
      <li><a href="/technology">Công Nghệ</a></li>
      <li><a href="/youth">Giới Trẻ</a></li>
      <li><a href="/education">Giáo Dục</a></li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="header__top__right__social">
    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-telegram"></i></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
  </div>
</div>
<!-- Humberger End -->


{{!-- Header --}}
<header class="header sticky-top">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i> htcblog@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-telegram"></i></i></a>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="header__top__right__auth">
              <a href="/login"><i class="fa fa-user"></i> Đăng Nhập</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="header__logo">
          <a href="/"><img src="./../../../public/img/logo.svg" alt=""></a>
        </div>
      </div>
      <div class="col-lg-10">
        <nav class="header__menu">
          <ul>
            <li><a href="/">Trang Chủ</a></li>
            <li><a href="/sport">Thể Thao</a></li>
            <li><a href="/travel">Du Lịch</a>
              <ul class="header__menu__dropdown">
                <li><a href="./shop-details.html">Shop Details</a></li>
                <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                <li><a href="./checkout.html">Check Out</a></li>
                <li><a href="./blog-details.html">Blog Details</a></li>
              </ul>
            </li>
            <li><a href="/health">Sức Khoẻ</a></li>
            <li><a href="/technology">Công Nghệ</a></li>
            <li><a href="/youth">Giới Trẻ</a></li>
            <li><a href="/education">Giáo Dục</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>



