<div class="mt-4">
    <h2>Đăng thể loại</h2>
    <form method="POST" action="/category/store" >
        <div class="form-group">
            <label for="name">Tên</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <button type="submit" class="btn btn-primary">Đăng</button>
    </form>
</div>

